@import "tailwindcss";

@layer {
  .hover-underline {
    font-size: 1.2rem;
    color: black;
    position: relative;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .hover-underline:hover {
    color:white;
    background-color: black;
  }

  .hover-underline::after,
  .hover-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }

  .hover-underline::before {
    top: -5px;
    transform-origin: left;
  }

  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }
}
